<!-- app/views/download_mailer/send_music.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    Olá,
  </p>

  <p>
    Segue em anexo o arquivo mp3 para download
  </p>

  <p>
    Obrigado pelo uso do repositório
  </p>

  <hr>

  <p>Este é um email automático. Por favor, não responda.</p>
</body>
</html>
